.loader {
  border: 4px solid rgba(67, 126, 255, 0.9);
  border-left-color: transparent;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  margin: 5rem auto;
  padding: 15px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
